<!DOCTYPE html>
<html>
<form name="f1" method="post" action="/login" id="f1">
  Username : <input type="text" name="username" value="" />
  <br>
  Password : <input type="password" name="password" value="" /><br>
  <input type="submit" name="login" value="Log In" style="font-size:18px; " />
</form>

</html>